body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
}

thead {
    background-color: #28a745;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    text-transform: uppercase;
    font-size: 0.9em;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tfoot {
    background-color: #e2e2e2;
    font-weight: bold;
}

tfoot th {
    text-transform: none;
}

tfoot td {
    font-weight: bold;
}

tfoot tr {
    border-top: 2px solid #28a745;
}

td, th {
    padding: 12px 15px;
}

